<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<title>This is index.html</title>
<div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Index<span class="sr-only">(current)</span></a></li>
            <li><a href="/aboutus.html">About us</a></li>
            <li><a href="/register.html">Register</a></li>
        </ul>
    </nav>
</div>
<br/>
<div class="jumbotron"></div>
<p>

    <body>
        <h1>Welcome</h1>
        <p>Content to display</p>
    </body>

</html>